name: Rust

on:
    push:
        branches: [ "master" ]
    pull_request:
        branches: [ "master" ]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Install Just
              run: cargo install just
            - name: Build
              run: just build
            - name: Build DOS
              run: just build-dos
            - name: Run tests
              run: cargo test --verbose